{% extends 'blog/admin/index.html.twig' %}

{% block body %}

    {% if app.request.hasPreviousSession %}
        {% for flashMessage in app.session.flashbag.get('register-success-notice') %}
            <div class="success-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('register-error-notice') %}
            <div class="error-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="edit_form">

        {{ form_start(form, { 'action': path('app_blog_admin_save'), 'method': 'POST', 'attr': {'class': 'add_article'} }) }}

        {{ form_widget(form) }}
        <p>
            <input type="submit" value="Add article">
        </p>
        {{ form_end(form) }}

    </div>

{% endblock %}